# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
*.env

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Secrets
.env.local
.env.production

# Testing
.coverage
coverage.xml
.pytest_cache/
htmlcov/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
